# =============================
# Variables de entorno del bot
# =============================

# Tokens de Telegram
TELEGRAM_BOT_TOKEN=TU_TELEGRAM_TOKEN

# Facebook Messenger
FB_PAGE_TOKEN=TU_FB_PAGE_TOKEN
FB_APP_SECRET=TU_FB_APP_SECRET
FB_VERIFY_TOKEN=palabra-secreta

# Opcional si usas Rasa Pro
RASA_PRO_TOKEN=
